* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.15s ease-out;
    margin: 20px;
    padding: 5px;
}

a:hover {
    border-bottom: 1px solid #1dd1a1;
}

.box {
    height: 200px;
    width: 200px;
    position: absolute;

    border-radius: 4px;
    background-color: #ee5253;
}

.inverse path {
    fill: white;
    color: white;
}

.menu-btn svg {
    height: 50px;
    width: 50px !important;
}

.menu-item svg {
    height: 30px;
    width: 30px !important;
}

.menu-btn {
    border-radius: 50%;
    height: 200px;
    width: 200px;

    background-color: #5f27cd;
    cursor: pointer;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    will-change: transform, opacity;
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1dd1a1;
    cursor: pointer;
}

.demo-3-bg {
    background-color: #30336b;
    padding: 1px;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
}

.demo-4-bg {
    background-color: #1dd1a1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.card {
    width: 30vw;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    border-radius: 8px;
    background-color: white;
    will-change: transform, opacity;
}

.dismiss-btn {
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.list-items {
    margin-top: 100px;
}

.list-item {
    display: flex;
    width: 100vh;

    align-items: center;
    border-bottom: 1px solid #eee;
}

.list-item:first-child {
    border-top: 1px solid #eee;
}

.list-item img {
    height: 60px;
    width: 60px;
    cursor: pointer;

    margin: 10px 20px;

    border-radius: 50%;
}

.list-item h3, .list-item h4 {
    margin: 0 20px;
}

.list-item h3 {
    color: #212121;
}

.list-item h4 {
    color: #aaa;
}

.mobile-mock {
    height: 64vh;
    width: 36vh;
    overflow-y: auto;

    position: relative;
    background-color: white;

    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.contact-details {
    padding: 20px 40px;
}

.image-container {
    height: 100px;
    width: 100%;
}

.image-container img {
    position: absolute;
    height: 100px;
}

.back-btn {
    width: 100%;
    text-align: center;
}

.back-btn button {
    background: none;
    border: none;
    font-size: 2em;
}